.header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 6rem;
  padding: 1rem 7rem;
  color: #333;

  .logo h3 {
    flex: 1;
  }
  .navbar {
    width: 40%;
    // background-color: blanchedalmond;

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;

      .nav-item {
        margin: 0 0.2rem;

        a:hover {
          color: #000;
        }
      }
    }
  }
}
